In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/fly/work/job_data/cpp_all_onsite_belgrade_26_08_24.csv')

In [3]:
df.shape

(777, 13)

In [4]:
df.columns

Index(['Title', 'Description', 'Primary Description', 'Detail URL', 'Location',
       'Skill', 'Insight', 'Job State', 'Poster Id', 'Company Name',
       'Company Logo', 'Created At', 'Scraped At'],
      dtype='object')

In [5]:
df.head(3)

,Title,Description,Primary Description,Detail URL,Location,Skill,Insight,Job State,Poster Id,Company Name,Company Logo,Created At,Scraped At
0,Engine Engineer,We are a world leading Engine MRO service prov...,"SR Technics Group · Belgrade, Serbia (On-site)",https://www.linkedin.com/jobs/view/3622263882/,"Belgrade, Serbia",Skills: Problem Solving,NaN,LISTED,885570976.0,SR Technics Group,https://media.licdn.com/dms/image/v2/C4D0BAQEo...,2023-06-01T11:55:17.000Z,2024-08-26T00:18:48.821Z
1,Senior Back End Developer (Hybrid),KMS Lighthouse is a global software (SaaS) com...,"KMS Lighthouse · Novi Beograd, Serbia (On-site)",https://www.linkedin.com/jobs/view/3623807169/,"Novi Beograd, Serbia","Skills: Back-End Web Development, Software Dev...",NaN,LISTED,NaN,KMS Lighthouse,https://media.licdn.com/dms/image/v2/C4E0BAQHD...,2023-06-05T20:16:29.000Z,2024-08-26T00:18:24.953Z
2,"Data Integration Engineer, HR Systems","Group Description\n\nAt Magna, we create techn...","Magna International · Belgrade, Serbia (On-site)",https://www.linkedin.com/jobs/view/3630229397/,"Belgrade, Serbia","Skills: Databases, Integration Development, +8...",NaN,LISTED,338991220.0,Magna International,https://media.licdn.com/dms/image/v2/D560BAQEI...,2023-06-07T15:45:11.000Z,2024-08-26T00:17:49.228Z

In [6]:
# Функция для замены \n\n на <br>
def replace_newlines(text):
    return text.replace('\n', '<br>')

def make_clickable(val):
    return f'<a href="{val}">{val}</a>'

# Save the DataFrame as an HTML file
html_output = df.to_html(escape=False)

# Применение функции ко всем строкам в DataFrame
df['Description'] = df['Description'].apply(replace_newlines)
df['Detail URL'] = df['Detail URL'].apply(make_clickable)

# Write the HTML to a file
with open('/home/fly/temp/dataframe.html', 'w') as file:
    file.write(html_output)

print("DataFrame saved as HTML page successfully.")

DataFrame saved as HTML page successfully.

In [7]:
descriptions = df['Skill']
descriptions.head(20)

0                               Skills: Problem Solving
1     Skills: Back-End Web Development, Software Dev...
2     Skills: Databases, Integration Development, +8...
3                            Skills: Java, C++, +8 more
4                            Skills: Java, C++, +8 more
5                      Skills: Java, Databases, +8 more
6      Skills: Databases, Software Development, +8 more
7     Skills: Python (Programming Language), Communi...
8     Skills: Python (Programming Language), English...
9     Skills: Python (Programming Language), Communi...
10    Skills: Back-End Web Development, Software Dev...
11     Skills: Databases, Software Development, +7 more
12                     Skills: Java, Databases, +8 more
13      Skills: Java, Back-End Web Development, +6 more
14    Skills: REST APIs, Application Programming Int...
15               Skills: Automotive, ISO 26262, +8 more
16    Skills: Software Development, Amazon Web Servi...
17        Skills: Software Testing, Test Cases, +8 more
18           Skills: Databases, Doctrine (PHP), +2 more
19         Skills: Component Engineering, RoHS, +7 more
Name: Skill, dtype: object

In [8]:
df['Company Name'].value_counts().head(10)

Company Name
Playrix          21
Wargaming        19
Grid Dynamics    16
Luxoft           14
Qinshift         14
FIS              13
Microsoft        12
Rivian           12
Endava           12
Databricks       10
Name: count, dtype: int64

In [9]:
df[df['Company Name'] == 'Databricks'].head(16)

,Title,Description,Primary Description,Detail URL,Location,Skill,Insight,Job State,Poster Id,Company Name,Company Logo,Created At,Scraped At
3,Staff Software Engineer - Backend,"P-962<br><br>At Databricks, we are passionate ...","Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/36...","Belgrade, Serbia","Skills: Java, C++, +8 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2023-07-31T20:23:28.000Z,2024-08-26T00:15:13.699Z
4,Staff Software Engineer - Distributed Data Sys...,"P-960<br><br>At Databricks, we are passionate ...","Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/36...","Belgrade, Serbia","Skills: Java, C++, +8 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2023-07-31T20:23:31.000Z,2024-08-26T00:16:13.669Z
5,Senior Software Engineer - Distributed Data Sy...,"P-960<br><br>At Databricks, we are passionate ...","Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/36...","Belgrade, Serbia","Skills: Java, Databases, +8 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2023-07-31T20:23:29.000Z,2024-08-26T00:16:13.665Z
6,Senior Software Engineer - Database Engine Int...,P-961<br><br>Our mission at Databricks is to r...,"Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/36...","Belgrade, Serbia","Skills: Databases, Software Development, +8 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2023-07-31T20:23:31.000Z,2024-08-26T00:15:49.832Z
11,Software Engineer - Database Engine Internals,P-961<br><br>Our mission at Databricks is to r...,"Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/37...","Belgrade, Serbia","Skills: Databases, Software Development, +7 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2023-11-03T15:37:29.000Z,2024-08-26T00:16:01.754Z
12,Software Engineer - Distributed Data Systems,"P-960<br><br>At Databricks, we are passionate ...","Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/37...","Belgrade, Serbia","Skills: Java, Databases, +8 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2023-11-03T15:37:29.000Z,2024-08-26T00:15:01.813Z
13,Software Engineer - Backend,"P-962<br><br>At Databricks, we are passionate ...","Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/37...","Belgrade, Serbia","Skills: Java, Back-End Web Development, +6 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2023-11-03T15:37:29.000Z,2024-08-26T00:14:49.729Z
56,Customer Data Engineer,"CSQ325R2<br><br>At Databricks, we are on a mis...","Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/38...","Belgrade, Serbia","Skills: Data Engineering, Google Cloud Platfor...",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2024-04-05T14:16:51.000Z,2024-08-26T00:17:25.529Z
176,Staff Software Engineer - Database Engine Inte...,P-961<br><br>Our mission at Databricks is to r...,"Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/39...","Belgrade, Serbia","Skills: Software Development, Databases, +8 more",NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2024-06-21T02:19:59.000Z,2024-08-26T00:17:13.630Z
177,Senior Software Engineer - Backend,"P-962<br><br>At Databricks, we are passionate ...","Databricks · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/39...","Belgrade, Serbia",6 of 10 skills match your profile - you may be...,NaN,LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/v2/D560BAQFP...,2024-06-21T02:20:04.000Z,2024-08-26T00:15:25.663Z

In [10]:
df['Location'].value_counts().head(10)

Location
Belgrade, Serbia                        470
Serbia                                  132
Novi Sad, Vojvodina, Serbia              51
Novi Beograd, Serbia                     24
Vojvodina, Serbia                        11
Niš, Centralna Srbija, Serbia            11
Stari Grad, Serbia                        8
Kragujevac, Centralna Srbija, Serbia      8
Novi Sad Metropolitan Area                7
Centralna Srbija, Serbia                  7
Name: count, dtype: int64

In [11]:
df[df['Location'] == 'Poland'].head(3)

Empty DataFrame
Columns: [Title, Description, Primary Description, Detail URL, Location, Skill, Insight, Job State, Poster Id, Company Name, Company Logo, Created At, Scraped At]
Index: []

In [12]:
df[df['Title'] == 'Robotics Software Engineer']

Empty DataFrame
Columns: [Title, Description, Primary Description, Detail URL, Location, Skill, Insight, Job State, Poster Id, Company Name, Company Logo, Created At, Scraped At]
Index: []

In [13]:
ser =  df['Title'].str.contains('developer|engineer|robotics', case=False, regex=True)
filtered = df[ser]

In [14]:
ser_skill = df['Skill'].str.contains('robotics', case=False, regex=True, na=False).dropna()
df[ser_skill].iloc[40:50]

Empty DataFrame
Columns: [Title, Description, Primary Description, Detail URL, Location, Skill, Insight, Job State, Poster Id, Company Name, Company Logo, Created At, Scraped At]
Index: []

In [15]:
string_list = df['Skill'].dropna().tolist()
def remove_words(text):
    text = text.replace('Skills: ', "")
    text = text.strip()
    return text

# Применение функции к каждому элементу списка
modified_list = [remove_words(text) for text in string_list]

In [16]:
values_combined = ','.join(map(str, modified_list))
values_list = values_combined.split(',')
values_list = [s.split() for  s in values_list]
new_series = pd.Series(values_list, name='Combined_skills')
new_series

0                 [Problem, Solving]
1       [Back-End, Web, Development]
2            [Software, Development]
3                         [+8, more]
4                        [Databases]
                    ...
2152                    [TypeScript]
2153                      [+8, more]
2154                   [Programming]
2155    [Back-End, Web, Development]
2156                      [+8, more]
Name: Combined_skills, Length: 2157, dtype: object

In [17]:
counts = new_series.value_counts()
counts

Combined_skills
[+8, more]                           521
[Software, Development]              101
[Python, (Programming, Language)]     77
[Back-End, Web, Development]          68
[English]                             61
                                    ...
[Process, Auditing]                    1
[Angular]                              1
[Vulnerability, Management]            1
[Vulnerability]                        1
[Team, Management]                     1
Name: count, Length: 386, dtype: int64

In [18]:
# Имя файла для сохранения
filename = '/home/fly/temp/value_counts.txt'

# Сохранение результата в файл
with open(filename, 'w') as file:
    file.write(counts.to_string())

print(f"Результат value_counts() сохранен в файл {filename}")

Результат value_counts() сохранен в файл /home/fly/temp/value_counts.txt

In [19]:
filtered_df = df[df['Skill'].str.contains('python', case=False, na=False)]
filtered_df

,Title,Description,Primary Description,Detail URL,Location,Skill,Insight,Job State,Poster Id,Company Name,Company Logo,Created At,Scraped At
7,Azure Cloud Engineer,<br>Company Description<br><br>As a part of De...,"Devoteam · Novi Sad, Vojvodina, Serbia (Hybrid)","<a href=""https://www.linkedin.com/jobs/view/37...","Novi Sad, Vojvodina, Serbia","Skills: Python (Programming Language), Communi...",NaN,LISTED,370344908.0,Devoteam,https://media.licdn.com/dms/image/v2/C560BAQEl...,2023-10-13T20:17:04.000Z,2024-08-26T00:18:48.817Z
8,Google Cloud Engineer,<br>Company Description<br><br>As a part of De...,"Devoteam · Novi Sad, Vojvodina, Serbia (Remote)","<a href=""https://www.linkedin.com/jobs/view/37...","Novi Sad, Vojvodina, Serbia","Skills: Python (Programming Language), English...",NaN,LISTED,370344908.0,Devoteam,https://media.licdn.com/dms/image/v2/C560BAQEl...,2023-10-13T20:17:04.000Z,2024-08-26T00:16:01.744Z
9,AWS Cloud Engineer,<br>Company Description<br><br>As a part of De...,"Devoteam · Novi Sad, Vojvodina, Serbia (Hybrid)","<a href=""https://www.linkedin.com/jobs/view/37...","Novi Sad, Vojvodina, Serbia","Skills: Python (Programming Language), Communi...",NaN,LISTED,370344908.0,Devoteam,https://media.licdn.com/dms/image/v2/C560BAQEl...,2023-10-13T20:17:05.000Z,2024-08-26T00:20:51.389Z
37,Senior Embedded Software Architect (Hybrid),"Orion Innovation is a premier, award-winning, ...",Orion Innovation · Serbia (Hybrid),"<a href=""https://www.linkedin.com/jobs/view/38...",Serbia,"Skills: C (Programming Language), Python (Prog...",1 connection works here,LISTED,42995920.0,Orion Innovation,https://media.licdn.com/dms/image/v2/D560BAQG3...,2024-03-05T15:38:40.000Z,2024-08-26T00:14:37.724Z
43,Senior Full-Stack Engineer Python/React,Gorgias empowers ecommerce brands to grow thro...,"Gorgias · Belgrade, Serbia (On-site)","<a href=""https://www.linkedin.com/jobs/view/38...","Belgrade, Serbia","Skills: Back-End Web Development, Python (Prog...",NaN,LISTED,NaN,Gorgias,https://media.licdn.com/dms/image/v2/D560BAQGw...,2024-03-17T04:31:53.000Z,2024-08-26T00:19:48.777Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Staff Software Engineer (Nutanix Database Clou...,"Hungry, Humble, Honest, with Heart.<br><br>The...","Nutanix · Belgrade, Serbia (On-site)","<a href=""https://www.linkedin.com/jobs/view/40...","Belgrade, Serbia","Skills: Python (Programming Language), Java, +...",NaN,LISTED,389041667.0,Nutanix,https://media.licdn.com/dms/image/v2/D560BAQGx...,2024-08-21T15:38:11.000Z,2024-08-26T00:17:49.227Z
740,Automation Support Engineer,Playrix — одна из самых успешных компаний по р...,Playrix · Serbia (Remote),"<a href=""https://www.linkedin.com/jobs/view/40...",Serbia,"Skills: Python (Programming Language), SQL, +7...",5 connections work here · 52 school alumni wor...,LISTED,927936280.0,Playrix,https://media.licdn.com/dms/image/v2/C4D0BAQFe...,2024-08-21T16:22:16.000Z,2024-08-26T00:19:00.522Z
757,Software Localization Engineer,Playrix — одна из самых успешных компаний по р...,Playrix · Serbia (Remote),"<a href=""https://www.linkedin.com/jobs/view/40...",Serbia,"Skills: REST APIs, Python (Programming Languag...",5 connections work here · 52 school alumni wor...,LISTED,927936280.0,Playrix,https://media.licdn.com/dms/image/v2/C4D0BAQFe...,2024-08-22T20:59:38.000Z,2024-08-26T00:17:13.628Z
772,Software Engineer (Hybrid Cloud DataStore),"Hungry, Humble, Honest, with Heart.<br><br>The...","Nutanix · Belgrade, Serbia (On-site)","<a href=""https://www.linkedin.com/jobs/view/40...","Belgrade, Serbia","Skills: C (Programming Language), Python (Prog...",NaN,LISTED,389041667.0,Nutanix,https://media.licdn.com/dms/image/v2/D560BAQGx...,2024-08-23T21:42:41.000Z,2024-08-26T00:16:37.678Z
773,Junior Python Engineer,Position Type<br><br>Full time<br><br>Type Of ...,"FIS · Belgrade, Serbia","<a href=""https://www.linkedin.com/jobs/view/40...","Belgrade, Serbia","Skills: Python (Programming Language), Softwar...",NaN,LISTED,18485937.0,FIS,https://media.licdn.com/dms/image/v2/C4E0BAQEo...,2024-08-23T21:59:12.000Z,2024-08-26T00:16:25.911Z

In [33]:
def get_count(key_word):
    filtered_df = df[df['Description'].str.contains(key_word, case=False, na=False)]
    print(filtered_df.shape)

In [34]:
get_count("stm")

(89, 13)

In [20]:
filtered_df = df[df['Description'].str.contains('web', case=False, na=False)]
filtered_df.shape

(207, 13)

In [26]:
filtered_df = df[df['Description'].str.contains('cloud', case=False, na=False)]
filtered_df.shape

(261, 13)

In [25]:
filtered_df = df[df['Description'].str.contains('backend', case=False, na=False)]
filtered_df.shape

(116, 13)

In [29]:
filtered_df = df[df['Description'].str.contains('game', case=False, na=False)]
filtered_df.shape

(83, 13)

In [27]:
filtered_df = df[df['Description'].str.contains('computer vision', case=False, na=False)]
filtered_df.shape

(12, 13)

In [21]:
filtered_df = df[df['Description'].str.contains('c\+\+', case=False, na=False)]
filtered_df.shape

(124, 13)

In [22]:
filtered_df = df[df['Description'].str.contains('python', case=False, na=False)]
filtered_df.shape

(284, 13)

In [23]:
filtered_df = df[df['Description'].str.contains('robotics', case=False, na=False)]
filtered_df.shape

(8, 13)

In [28]:

filtered_df = df[df['Description'].str.contains('automotive', case=False, na=False)]
filtered_df.shape

(44, 13)

In [24]:
filtered_df = df[df['Description'].str.contains('embed', case=False, na=False)]
filtered_df.shape

(47, 13)

In [30]:
filtered_df = df[df['Description'].str.contains('kernel', case=False, na=False)]
filtered_df.shape

(19, 13)

In [35]:
get_count('driver')

(43, 13)