In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/fly/work/job_data/cpp_all_onsite_belgrade.csv')

In [3]:
df.shape

(555, 13)

In [4]:
df.columns

Index(['Title', 'Description', 'Primary Description', 'Detail URL', 'Location',
       'Skill', 'Insight', 'Job State', 'Poster Id', 'Company Name',
       'Company Logo', 'Created At', 'Scraped At'],
      dtype='object')

In [5]:
df.head(3)

,Title,Description,Primary Description,Detail URL,Location,Skill,Insight,Job State,Poster Id,Company Name,Company Logo,Created At,Scraped At
0,Site Reliability Engineer,"About Us At Tenderly, we're not just shaping t...","Tenderly · Belgrade, Serbia (On-site)",https://www.linkedin.com/jobs/view/3311916353/,"Belgrade, Serbia","Skills: Software Development, Site Reliability...",51-200 employees,LISTED,405051477.0,Tenderly,https://media.licdn.com/dms/image/D4D0BAQG94R_...,2022-10-18T11:05:54.000Z,2024-07-21T21:25:52.585Z
1,Senior Back End Developer (Hybrid),KMS Lighthouse is a global software (SaaS) com...,"KMS Lighthouse · Novi Beograd, Serbia (On-site)",https://www.linkedin.com/jobs/view/3623807169/,"Novi Beograd, Serbia","Skills: Back-End Web Development, Software Dev...",51-200 employees · Information Services,LISTED,NaN,KMS Lighthouse,https://media.licdn.com/dms/image/C4E0BAQHDbt9...,2023-06-05T20:16:29.000Z,2024-07-21T21:26:05.341Z
2,Team Lead - Senior Front End Engineer,We’re looking for a Senior Front End Developer...,"Ottometric · Novi Sad, Vojvodina, Serbia (Hybrid)",https://www.linkedin.com/jobs/view/3624937209/,"Novi Sad, Vojvodina, Serbia","Skills: Software Development, Redux.js, +8 more",NaN,LISTED,NaN,NaN,NaN,2023-06-02T00:13:47.000Z,2024-07-21T21:26:31.096Z

In [6]:
descriptions = df['Skill']
descriptions.head(20)

0     Skills: Software Development, Site Reliability...
1     Skills: Back-End Web Development, Software Dev...
2       Skills: Software Development, Redux.js, +8 more
3     Skills: Back-End Web Development, Android Deve...
4     Skills: Computer Engineering, Infotainment, +5...
5     Skills: Integration Development, Dell Boomi, +...
6     Skills: Statistical Programming, CDISC Standar...
7     Skills: Statistical Programming, Study Data Ta...
8                            Skills: Java, C++, +8 more
9                            Skills: Java, C++, +8 more
10                           Skills: Java, C++, +8 more
11    Skills: Software Development, Project Plans, +...
12    Skills: Statistical Programming, Study Data Ta...
13    Skills: Python (Programming Language), Communi...
14    Skills: Python (Programming Language), Communi...
15    Skills: Back-End Web Development, Software Dev...
16    Skills: Software Development, Project Plans, +...
17                           Skills: Java, C++, +8 more
18      Skills: Java, Back-End Web Development, +6 more
19                  Skills: .NET Framework, C#, +8 more
Name: Skill, dtype: object

In [7]:
df['Company Name'].value_counts().head(50)

Company Name
Qinshift                               41
FIS                                    18
Merkle                                 14
myGwork - LGBTQ+ Business Community    14
Wargaming                              14
Orion Innovation                       13
Synechron                              13
Rivian                                 12
Holycode                               12
Databricks                             10
Clarivate                              10
Paycor                                 10
Oil and Gas Job Search Ltd              9
Engineering Software Lab Serbia         9
NCR Voyix                               8
Luxoft                                  8
Schneider Electric                      8
Grid Dynamics                           7
Acronis                                 7
Gorgias                                 7
NCR Atleos                              7
Friendly HR                             7
InterVenture                            6
BlackRock                               6
LotusFlare                              6
Worldwide Clinical Trials               6
Netconomy                               6
Acumatica                               5
Sportserve                              5
Microsoft                               5
Team Sava                               5
SMG Swiss Marketplace Group Serbia      4
EV.Careers                              4
Scopeworker                             4
Zühlke Group                            4
Cisco                                   4
Incode                                  4
Yassir                                  4
symphony.is                             4
Top Remote Talent                       4
Crayon                                  3
Merkle DACH                             3
Citrus Systems                          3
Portfolio BI                            3
Ananas E-commerce                       3
Schneider Electric Hub                  3
ASEE                                    3
Hyperoptic                              3
BVP                                     3
STRABAG                                 3
Name: count, dtype: int64

In [30]:
df[df['Company Name'] == 'Databricks'].head(16)

,Title,Description,Primary Description,Detail URL,Location,Skill,Insight,Job State,Poster Id,Company Name,Company Logo,Created At,Scraped At
8,Staff Software Engineer - Backend,"P-962\n\nAt Databricks, we are passionate abou...","Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3681174970/,"Belgrade, Serbia","Skills: Java, C++, +8 more","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2023-07-31T20:23:28.000Z,2024-07-21T21:23:41.165Z
9,Staff Software Engineer - Distributed Data Sys...,"P-960\n\nAt Databricks, we are passionate abou...","Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3681175877/,"Belgrade, Serbia","Skills: Java, C++, +8 more","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2023-07-31T20:23:31.000Z,2024-07-21T21:23:28.407Z
10,Senior Software Engineer - Distributed Data Sy...,"P-960\n\nAt Databricks, we are passionate abou...","Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3681176737/,"Belgrade, Serbia","Skills: Java, C++, +8 more","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2023-07-31T20:23:29.000Z,2024-07-21T21:23:28.406Z
11,Senior Software Engineer - Database Engine Int...,P-961\n\nOur mission at Databricks is to radic...,"Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3681176738/,"Belgrade, Serbia","Skills: Software Development, Project Plans, +...","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2023-07-31T20:23:31.000Z,2024-07-21T21:25:39.394Z
16,Software Engineer - Database Engine Internals,P-961\n\nOur mission at Databricks is to radic...,"Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3757346813/,"Belgrade, Serbia","Skills: Software Development, Project Plans, +...","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2023-11-03T15:37:29.000Z,2024-07-21T21:23:28.406Z
17,Software Engineer - Distributed Data Systems,"P-960\n\nAt Databricks, we are passionate abou...","Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3757347260/,"Belgrade, Serbia","Skills: Java, C++, +8 more","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2023-11-03T15:37:29.000Z,2024-07-21T21:24:59.122Z
18,Software Engineer - Backend,"P-962\n\nAt Databricks, we are passionate abou...","Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3757347262/,"Belgrade, Serbia","Skills: Java, Back-End Web Development, +6 more","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2023-11-03T15:37:29.000Z,2024-07-21T21:23:41.161Z
73,AI Security Engineer,RDQ224R252\n\nWhile candidates in the listed l...,"Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3892541202/,"Belgrade, Serbia","Skills: Code Review, Vulnerability, +8 more","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2024-04-10T14:16:59.000Z,2024-07-21T21:25:26.833Z
220,Staff Software Engineer - Database Engine Inte...,P-961\n\nOur mission at Databricks is to radic...,"Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3955070248/,"Belgrade, Serbia","Skills: Software Development, Programming, +8 ...","5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2024-06-21T02:19:59.000Z,2024-07-21T21:26:05.343Z
221,Senior Software Engineer - Backend,"P-962\n\nAt Databricks, we are passionate abou...","Databricks · Belgrade, Serbia",https://www.linkedin.com/jobs/view/3955072229/,"Belgrade, Serbia",6 of 10 skills match your profile - you may be...,"5,001-10,000 employees · Software Development",LISTED,115696170.0,Databricks,https://media.licdn.com/dms/image/D560BAQFPIRK...,2024-06-21T02:20:04.000Z,2024-07-21T21:24:20.387Z

In [9]:
df['Location'].value_counts().head(10)

Location
Belgrade, Serbia                        389
Novi Sad, Vojvodina, Serbia              51
Serbia                                   39
Novi Beograd, Serbia                     23
Kragujevac, Centralna Srbija, Serbia     11
Stari Grad, Serbia                       11
Novi Sad Metropolitan Area                7
Niš, Centralna Srbija, Serbia             6
Belgrade Metropolitan Area                5
Srem District, Vojvodina, Serbia          3
Name: count, dtype: int64

In [10]:
df[df['Location'] == 'Poland'].head(3)

Empty DataFrame
Columns: [Title, Description, Primary Description, Detail URL, Location, Skill, Insight, Job State, Poster Id, Company Name, Company Logo, Created At, Scraped At]
Index: []

In [11]:
df[df['Title'] == 'Robotics Software Engineer']

Empty DataFrame
Columns: [Title, Description, Primary Description, Detail URL, Location, Skill, Insight, Job State, Poster Id, Company Name, Company Logo, Created At, Scraped At]
Index: []

In [12]:
ser =  df['Title'].str.contains('developer|engineer|robotics', case=False, regex=True)
filtered = df[ser]

In [13]:
ser_skill = df['Skill'].str.contains('robotics', case=False, regex=True, na=False).dropna()
df[ser_skill].iloc[40:50]

Empty DataFrame
Columns: [Title, Description, Primary Description, Detail URL, Location, Skill, Insight, Job State, Poster Id, Company Name, Company Logo, Created At, Scraped At]
Index: []

In [14]:
string_list = df['Skill'].dropna().tolist()
def remove_words(text):
    text = text.replace('Skills: ', "")
    text = text.strip()
    return text

# Применение функции к каждому элементу списка
modified_list = [remove_words(text) for text in string_list]

In [15]:
values_combined = ','.join(map(str, modified_list))
values_list = values_combined.split(',')
values_list = [s.split() for  s in values_list]
new_series = pd.Series(values_list, name='Combined_skills')
new_series

0                                 [Software, Development]
1                        [Site, Reliability, Engineering]
2                                              [+8, more]
3                            [Back-End, Web, Development]
4                                 [Software, Development]
                              ...
1616                                           [+4, more]
1617                                    [.NET, Framework]
1618                [Object-Oriented, Programming, (OOP)]
1619                                           [+8, more]
1620    [3, of, 4, skills, match, your, profile, -, yo...
Name: Combined_skills, Length: 1621, dtype: object

In [16]:
counts = new_series.value_counts()
counts

Combined_skills
[+8, more]                                                                 445
[Software, Development]                                                     84
[Back-End, Web, Development]                                                68
[Java]                                                                      67
[Python, (Programming, Language)]                                           65
                                                                          ...
[Procedural, Programming]                                                    1
[npm]                                                                        1
[Mobile, Applications]                                                       1
[Server, Management]                                                         1
[3, of, 4, skills, match, your, profile, -, you, may, be, a, good, fit]      1
Name: count, Length: 257, dtype: int64

In [17]:
# Имя файла для сохранения
filename = '/home/fly/temp/value_counts.txt'

# Сохранение результата в файл
with open(filename, 'w') as file:
    file.write(counts.to_string())

print(f"Результат value_counts() сохранен в файл {filename}")

Результат value_counts() сохранен в файл /home/fly/temp/value_counts.txt

In [18]:
filtered_df = df[df['Skill'].str.contains('python', case=False, na=False)]
filtered_df

,Title,Description,Primary Description,Detail URL,Location,Skill,Insight,Job State,Poster Id,Company Name,Company Logo,Created At,Scraped At
13,Azure Cloud Engineer,\nCompany Description\n\nAs a part of Devoteam...,"Devoteam · Novi Sad, Vojvodina, Serbia (Hybrid)",https://www.linkedin.com/jobs/view/3737648892/,"Novi Sad, Vojvodina, Serbia","Skills: Python (Programming Language), Communi...","10,001+ employees · Business Consulting and Se...",LISTED,3.703449e+08,Devoteam,https://media.licdn.com/dms/image/C560BAQEloqE...,2023-10-13T20:17:04.000Z,2024-07-21T21:23:54.082Z
14,AWS Cloud Engineer,\nCompany Description\n\nAs a part of Devoteam...,"Devoteam · Novi Sad, Vojvodina, Serbia (Hybrid)",https://www.linkedin.com/jobs/view/3737654153/,"Novi Sad, Vojvodina, Serbia","Skills: Python (Programming Language), Communi...","10,001+ employees · Business Consulting and Se...",LISTED,3.703449e+08,Devoteam,https://media.licdn.com/dms/image/C560BAQEloqE...,2023-10-13T20:17:05.000Z,2024-07-21T21:23:41.165Z
30,DevOps Engineer,Requirements\n\nJob Requirements\n\nBachelor’s...,"Braintrust · Belgrade, Serbia (On-site)",https://www.linkedin.com/jobs/view/3810299278/,"Belgrade, Serbia","Skills: Software Development, Python (Programm...","11-50 employees · Technology, Information and ...",LISTED,2.661976e+08,Braintrust,https://media.licdn.com/dms/image/D560BAQElwT1...,2024-01-19T14:04:32.000Z,2024-07-21T21:24:33.171Z
42,Senior Embedded Software Architect (Hybrid),"Orion Innovation is a premier, award-winning, ...",Orion Innovation · Serbia (Hybrid),https://www.linkedin.com/jobs/view/3846585692/,Serbia,"Skills: C (Programming Language), Python (Prog...","5,001-10,000 employees · IT Services and IT Co...",LISTED,4.299592e+07,Orion Innovation,https://media.licdn.com/dms/image/D560BAQG30ho...,2024-03-05T15:38:40.000Z,2024-07-21T21:22:50.172Z
49,Senior Full-Stack Engineer ReactJS/NodeJS,Gorgias empowers ecommerce brands to grow thro...,"Gorgias · Belgrade, Serbia (On-site)",https://www.linkedin.com/jobs/view/3860719722/,"Belgrade, Serbia","Skills: Python (Programming Language), Technic...",201-500 employees · Software Development,LISTED,NaN,Gorgias,https://media.licdn.com/dms/image/D560BAQGwfHf...,2024-03-17T04:29:28.000Z,2024-07-21T21:26:57.237Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,Embedded Python Engineer (Hybrid),"Orion Innovation is a premier, award-winning, ...","Orion Innovation · Belgrade, Serbia (Hybrid)",https://www.linkedin.com/jobs/view/3978003961/,"Belgrade, Serbia","Skills: Python (Programming Language), C (Prog...","5,001-10,000 employees · IT Services and IT Co...",LISTED,4.299592e+07,Orion Innovation,https://media.licdn.com/dms/image/D560BAQG30ho...,2024-07-16T21:37:04.000Z,2024-07-21T21:22:50.172Z
528,Data Engineer - Planted Team,We at Holycode are currently looking for a Dat...,"Holycode · Belgrade, Serbia (On-site)",https://www.linkedin.com/jobs/view/3978537618/,"Belgrade, Serbia","Skills: Python (Programming Language), Code Re...",201-500 employees · Software Development,LISTED,NaN,Holycode,https://media.licdn.com/dms/image/D4D0BAQE133Q...,2024-07-17T17:41:43.000Z,2024-07-21T21:24:59.122Z
532,Business Intelligence Engineer,About Trace One\nTrace One is a global leader ...,"Trace One · Belgrade, Serbia (Hybrid)",https://www.linkedin.com/jobs/view/3978702505/,"Belgrade, Serbia","Skills: Python (Programming Language), Tableau","501-1,000 employees · Software Development",LISTED,4.041628e+08,Trace One,https://media.licdn.com/dms/image/C4D0BAQE8llR...,2024-07-19T09:33:09.000Z,2024-07-21T21:26:05.342Z
533,Data Engineer - Data Lake,Company DescriptionZenith System Solutions is ...,"Zenith System Solutions · Belgrade, Serbia (Hy...",https://www.linkedin.com/jobs/view/3978925193/,"Belgrade, Serbia","Skills: Linux, Python (Programming Language), ...",201-500 employees,LISTED,1.004573e+09,Zenith System Solutions,https://media.licdn.com/dms/image/C560BAQEyT0g...,2024-07-20T17:07:47.000Z,2024-07-21T21:25:52.587Z
547,C++ Software Engineer,Who We Are:\n\nWe seeking for an experienced a...,"Cisco · Belgrade, Serbia (Hybrid)",https://www.linkedin.com/jobs/view/3979987941/,"Belgrade, Serbia","Skills: Software Development, Python (Programm...","10,001+ employees · Software Development",LISTED,6.443521e+08,Cisco,https://media.licdn.com/dms/image/D560BAQHS78g...,2024-07-19T10:54:50.000Z,2024-07-21T21:22:50.172Z