In [1]:
import pandas as pd

In [2]:
data = {
    'A': [1, 2, 3, 4],
    'B': [11, 12, 13, 14],
    'C': [21, 22, 23, 24]
}

df = pd.DataFrame(data)

In [3]:
df.shape

(4, 3)

In [4]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [5]:
df

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

In [6]:
df.iloc[2,1]

13

In [7]:
df.iloc[2,1] = 55
df

   A   B   C
0  1  11  21
1  2  12  22
2  3  55  23
3  4  14  24

In [8]:
df['B'].apply(lambda x: 2*x)

0     22
1     24
2    110
3     28
Name: B, dtype: int64

In [9]:
df.loc[:,'B']

0    11
1    12
2    55
3    14
Name: B, dtype: int64

In [10]:
df.loc[:,'B'] = df['B'].apply(lambda x: 10*x)
df

   A    B   C
0  1  110  21
1  2  120  22
2  3  550  23
3  4  140  24